/* css styles */
/* This applies to all buttons inside a container with the class .button-container */
.button-container {
display: flex;
flex-wrap: wrap;
}

.button-container .btn {
border-radius: 4px !important; 
margin-bottom: 8px;           
margin-right: 2px; 
}